# Hydrosat required pip Packages.

# Packages only available through pip.
# Install pip packages ONLY after all conda packages have been installed.

pystac
pystac_client
odc-stac
ffmpeg-python
SynopticPy
